<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.metocast.connect</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>metocast</string>
			</array>
		</dict>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_switcher_ctrl._udp</string>
	</array>
	<key>NSAppleEventsUsageDescription</key>
	<string>Metocast controls Keynote presentations when this Mac hosts the server.</string>
</dict>
</plist>
